@mixin clearListStyles {
  margin: 0;
  padding: 0;
  list-style: none;
}
@mixin clearBtnStyle {
  background-color: transparent;
  border: none;
  font-family: inherit;
  font-size: inherit;
  padding: 0;
  cursor: pointer;
}
