$containerMaxwidth: 1290px;
$containerTabletWidth: 962px;
$backgroundColor: #202020;
$textWhiteColor: #ffffff;
$textGreyColor: #CACACA;
$hoverColor: #ff6e30;
$focusColor: #bc572b;
$activeColor: #ce4307;
$inputColor: #4A4A4A;
$textGrafitColor: #999999;
$inputTextColor: #E9E9E9;
$redColor: #FF3030;
$errorColor: #F06666;


